{% extends "layout.html" %}
{% block body %}

<div class="btn-group">
	<button class="btn btn-secondary btn-sm" type="button">
		Topic
	</button>
	<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
		data-bs-toggle="dropdown" aria-expanded="false">
		<span class="visually-hidden">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="/history">History</a></li>
		<li><a class="dropdown-item" href="/chemistry">Chemistry</a></li>
		<li><a class="dropdown-item" href="/biology">Biology</a></li>
		<li><a class="dropdown-item" href="/physics">Physics</a></li>
		<li>
			<hr class="dropdown-divider">
		</li>
		<li><a class="dropdown-item" href="/course">Course</a></li>
	</ul>
</div>

<br>

<h1>Chemistry</h1>
<br>

<div class="wrapper">
	<div class="item"><a href="https://manybooks.net/titles/hendersonw2084820848-8.html">
		<img src="{{ url_for('static', filename='/img/Chemistry/chem1.jpg') }}" alt="Forest" width="240" height="240"></a>
	</div>
	<div class="item"><a href="https://manybooks.net/titles/lavoisiera3077530775-8.html">
		<img src="{{ url_for('static', filename='/img/Chemistry/chem2.jpg') }}" alt="Forest" width="240" height="240"></a>
	</div>
	<div class="item"><a href="https://manybooks.net/titles/legal-chemistry">
		<img src="{{ url_for('static', filename='/img/Chemistry/chem3.jpg') }}" alt="Forest" width="240" height="240"></a>
	</div>
	<div class="item"><a href="https://www.gutenberg.org/ebooks/50446">
		<img src="{{ url_for('static', filename='/img/Chemistry/chem4.jpg') }}" alt="Forest" width="240" height="240"></a>
	</div>
	<div class="item"><a href="https://www.gutenberg.org/ebooks/1234">
		<img src="{{ url_for('static', filename='/img/Chemistry/chem5.jpg') }}" alt="Forest" width="240" height="240"></a>
	</div>
</div>

{% endblock %}