{% extends "layout.html" %}
{% block body %}
<div class="btn-group">
	<button class="btn btn-secondary btn-sm" type="button">
		Topic
	</button>
	<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
		data-bs-toggle="dropdown" aria-expanded="false">
		<span class="visually-hidden">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="/designv">Design</a></li>
		<li><a class="dropdown-item" href="/programming">Programming</a></li>
		<li><a class="dropdown-item" href="/marketing">Marketing & Sales</a></li>
		<li><a class="dropdown-item" href="/music">Music and Sound</a></li>
		<li><a class="dropdown-item" href="/ml">Machine Learning</a></li>
		<li><a class="dropdown-item" href="/cn">Computer Networking</a></li>
		<li>
			<hr class="dropdown-divider">
		</li>
		<li><a class="dropdown-item" href="/books">Books</a></li>
	</ul>
</div>
<br>
<br>
<h2>Computer Networking</h2>
<div class="card-deck">
	<div class="card">
		<iframe class="item" src="https://www.youtube.com/embed/QKfk7YFILws"></iframe>
		<div class="card-body">
			<h5 class="card-title">Computer Networking Crash Course</h5>
			<p class="card-text">Computer Networking a full crash course by Google.</p>
		</div>
	</div>

	<div class="card">
		<iframe class="item" src="https://www.dailymotion.com/embed/video/x31jgyh?autoplay=1"></iframe>
		<div class="card-body">
			<h5 class="card-title">Domain Name System</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
	</div>

	<div class="card">
		<iframe class="item" src="https://www.youtube.com/embed/qiQR5rTSshw"></iframe>
		<div class="card-body">
			<h5 class="card-title">Computer Networking Full Course</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content.
				This card has even longer content than the first to show that equal height action.</p>
		</div>
	</div>
</div>


<br>


<div class="card-deck">
	<div class="card">
		<iframe class="item" src="https://www.youtube.com/embed/0PbTi_Prpgs"></iframe>
		<div class="card-body">
			<h5 class="card-title">Computer Networking Full Course</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content.
				This content is a little bit longer.</p>
		</div>
	</div>

	<div class="card">
		<iframe class="item" src="https://www.dailymotion.com/embed/video/x31jh2z?autoplay=1"></iframe>
		<div class="card-body">
			<h5 class="card-title">Computer Networks</h5>
			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		</div>
	</div>

	<div class="card">
		<iframe class="item" src="https://www.youtube.com/embed/fvUkbkM6vDU"></iframe>
		<div class="card-body">
			<h5 class="card-title">Computer Networking</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content.
				This card has even longer content than the first to show that equal height action.</p>
		</div>
	</div>
</div>



<br>


<div class="card-deck">
	<div class="card">
		<iframe class="item" src="https://www.youtube.com/embed/U2IxdEYgoEg"></iframe>
		<div class="card-body">
			<h5 class="card-title">Ip4 vs Ip6 Addressing</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content.
				This content is a little bit longer.</p>
		</div>
	</div>

	<div class="card">
		<iframe class="item" src="https://www.dailymotion.com/embed/video/x6diu69?autoplay=1"></iframe>
		<div class="card-body">
			<h5 class="card-title">Network Devices</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
				content.
				This content is a little bit longer.</p>
		</div>
	</div>

	<div class="card">
		<iframe class="item" src="https://www.dailymotion.com/embed/video/x48x37b?autoplay=1"></iframe>
		<div class="card-body">
			<h5 class="card-title">Computer Network Classifications and Topology</h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
				additional content.
				This content is a little bit longer.</p>
		</div>
	</div>
</div>
{% endblock %}