{% extends "layout.html" %}
{% block body %}
<div class="btn-group">
	<button class="btn btn-secondary btn-sm" type="button">
		Topic
	</button>
	<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
		data-bs-toggle="dropdown" aria-expanded="false">
		<span class="visually-hidden">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="/designv">Design</a></li>
		<li><a class="dropdown-item" href="/programming">Programming</a></li>
    <li><a class="dropdown-item" href="/marketing">Marketing & Sales</a></li>
		<li><a class="dropdown-item" href="/music">Music and Sound</a></li>
		<li>
			<hr class="dropdown-divider">
		</li>
		<li><a class="dropdown-item" href="/books">Books</a></li>
	</ul>
</div>
<br>
<br>
<h2>Courses</h2>
<div class="card-deck">
  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/_Hp_dI0DzY4"></iframe>
    <div class="card-body">
      <h5 class="card-title">UI Design Crash Course</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/68w2VwalD5w"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/8O37aTQqBfw"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>


<br>


<div class="card-deck">
  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/k0EyAs9Q4NI"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/1N1cbqtdUxA"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/uL2ZB7XXIgg"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>



<br>


<div class="card-deck">
  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/obxvo9mDMyc"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/k0EyAs9Q4NI"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/VLmdiIbjlt0"></iframe>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>

<br>

<h2>Books</h2>
<br>

<div class="wrapper">
	<div class="item"><a href="https://manybooks.net/titles/industrial-arts-design">
		<img src="{{ url_for('static', filename='/img/Design/Industrial.png') }}" alt="Forest" width="240" height="240"></a>
    <h4>Industrial Arts Design</h4>
	</div>
	<div class="item"><a href="https://manybooks.net/titles/dress-design">
		<img src="{{ url_for('static', filename='/img/Design/Dress.jpeg') }}" alt="Forest" width="240" height="240"></a>
    <h4>Dress Design An Account of <br>
      Costume for Artists & Dressmakers</h4>
	</div>
	<div class="item"><a href="https://www.gutenberg.org/ebooks/54154">
		<img src="{{ url_for('static', filename='/img/Design/Vision.jpeg') }}" alt="Forest" width="240" height="240"></a>
    <h4>Vision and Design</h4>
	</div>
	<div class="item"><a href="https://www.gutenberg.org/ebooks/47967">
		<img src="{{ url_for('static', filename='/img/Design/bases.jpeg') }}" alt="Forest" width="240" height="240"></a>
    <h4>The bases of Design</h4>
	</div>
</div>
{% endblock %}