{% extends "layout.html" %}
{% block body %}
<div class="btn-group">
	<button class="btn btn-secondary btn-sm" type="button">
		Topic
	</button>
	<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
		data-bs-toggle="dropdown" aria-expanded="false">
		<span class="visually-hidden">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="/designv">Design</a></li>
		<li><a class="dropdown-item" href="/programming">Programming</a></li>
    	<li><a class="dropdown-item" href="/marketing">Marketing & Sales</a></li>
		<li><a class="dropdown-item" href="/music">Music and Sound</a></li>
		<li><a class="dropdown-item" href="/ml">Machine Learning</a></li>
		<li><a class="dropdown-item" href="/cn">Computer Networking</a></li>
		<li>
			<hr class="dropdown-divider">
		</li>
		<li><a class="dropdown-item" href="/books">Books</a></li>
	</ul>
</div>
<br>
<br>
<h2>Machine Learning</h2>
<div class="card-deck">
  <div class="card">
    <iframe class="item" src="https://www.dailymotion.com/embed/video/x7bl97x?autoplay=1"></iframe>
    <div class="card-body">
      <h5 class="card-title">Machine Learning: Living in the age of AI</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.dailymotion.com/embed/video/x7uexiv?autoplay=1"></iframe>
    <div class="card-body">
      <h5 class="card-title">Machine Learning</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/ukzFI9rgwfU"></iframe>
    <div class="card-body">
      <h5 class="card-title">Basics of Machine Learning</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>


<br>


<div class="card-deck">
  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/GwIo3gDZCVQ"></iframe>
    <div class="card-body">
      <h5 class="card-title">Machine Learning full course(10 hours)</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/h0e2HAPTGF4"></iframe>
    <div class="card-body">
      <h5 class="card-title">Introduction to Machine Learning</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/aircAruvnKk"></iframe>
    <div class="card-body">
      <h5 class="card-title">Neural Networks</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>



<br>


<div class="card-deck">
  <div class="card">
    <iframe class="item" src="https://www.youtube.com/embed/DooxDIRAkPA"></iframe>
    <div class="card-body">
      <h5 class="card-title">Deep Learning Full Course (6 hours)</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
  </div>

<br>




{% endblock %}

